.countener{
position: absolute;
background-color: #f0f0f0;
width: 500px;
height: 500px;
top:40%;
left:50%;
transform: translate(-50%,-50%);
border-radius: 50px;
box-shadow: 11px 10px 20px;
}
.face{
    position: relative;
    background-color: #fce2c4;
    width: 80px;
    height: 300px;
    top: 258px;
    left: 850px;
    border: 6px solid;
    border-bottom: none;
    border-color: #ffa945;
    transform: rotate(5deg);
}
.face::before{
    content: " ";
    position: absolute;
     top: 225px;
     left: -14px;
    width: 14px;
    height: 14px;
    background-color: #fce2c4;
    border-left:8px#ffa945 solid  ;
    border-bottom:6px #ffa945 solid ;
   border-bottom-left-radius: 10px;
   transform: skew(-40deg);
   
}
.face::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #fce2c4;
    border-right: 6px #ffa945 solid;
    border-bottom: 6px #ffa945 solid;
    left: 70px;
    top:118px;
    border-radius: 30px;
    transform: rotate(317deg);

}
.nose{
    position: relative;
    left: 793px;
    top: 50px;
    width: 60px;
    height: 60px;
    border: #ffa945 solid 8px;
    border-right:none ;
    border-right:nose ;
    transform: rotate(5deg);
    background-color: #fce2c4;
    border-radius: 14px 0 0 14px;
    z-index: 1;
}
.nose::before{
    content: "";
    position: absolute;
    width: 15px;
    border: #ffa945 solid 4px;
    top: -8px;
    left: 50px;
    
}
.aey{
    position: absolute;
    width: 50px;
    height: 54px;
    background-color: #fffefe;
    border: black 5px solid;
    top: 310px;
    left: 843px;
    border-radius: 34px;
   z-index: 0;
}
.aey::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 11px;
    border-radius: 10px;
    left: 14px;
    top: 23px;
    border:  solid;
    background-color: black;
    
}
.aey::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: 3px solid black;
    border-radius: 33px;
    top: 22px;
    left: 18px;
    background-color: #fffefe;
    z-index: 2;
}
.eye{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fffefe;
    border: black 5px solid;
    top: 323px;
    left: 877px;
    border-radius: 34px;
    z-index: 2;

}
.eye::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 11px;
    border-radius: 10px;
    left: 17px;
    top: 20px;
    border:  solid;
    background-color: black;
}
.eye::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: 3px solid black;
    border-radius: 33px;
    top: 19px;
    left: 20px;
    background-color: #fffefe;
    z-index: 2;
}
.hire{
    position: relative;
    bottom: 10px;
    left: 894px;
    bottom: 123px;
    z-index: 50;

}
.hire>div:nth-child(1){
    position: absolute;
    width: 131px;
    height: 66px;
    border-top: 20px green solid;
    left: -100px;
    bottom: -35px;
    transform: rotate(41deg);
    border-radius: 50% 50% 0 0;
}
.hire>div:nth-child(2){
    position: absolute;
    width: 131px;
    height: 66px;
    border-top: 20px green solid;
    left: -79px ;
    bottom: -61px;
    transform: rotate(25deg);
    border-radius: 50% 50% 0 0;
}
.hire>div:nth-child(3){
    position: absolute;
    width: 131px;
    height: 66px;
    border-top: 20px green solid;
    left: -81px;
    bottom: -28px;
    transform: rotate(61deg);
    border-radius: 50% 50% 0 0;
}
.hire>div:nth-child(4){
    position: absolute;
    width: 131px;
    height: 66px;
    border-top: 20px green solid;
    left: -55px;
    bottom: -64px;
    border-radius: 50% 50% 0 0;
}
.hire>div:nth-child(5){
    position: absolute;
    width: 131px;
    height: 66px;
    border-top: 20px green solid;
    left: -13px;
    bottom: -46px;
    transform: rotate(331deg);
    border-radius: 50% 50% 0 0;
}